# FIRST ANALYS OF CLIENT FILES

### IMPORTS LIBS

In [22]:
import sys
sys.path.append('../ASSETS/CLASS/')
import pandas as pd
from Viz import Viz

In [23]:
customer = pd.read_csv('../DATA/IN/olist_customers_dataset.csv')
product = pd.read_csv('../DATA/IN/olist_products_dataset.csv')
order = pd.read_csv('../DATA/IN/olist_orders_dataset.csv')
payment = pd.read_csv('../DATA/IN/olist_order_payments_dataset.csv', sep=';')
order_item = pd.read_csv('../DATA/IN/olist_order_items_dataset.csv')
sellers = pd.read_csv('../DATA/IN/olist_sellers_dataset.csv')
order_review = pd.read_csv('../DATA/IN/olist_order_reviews_dataset.csv')

In [24]:
customer_viz = Viz(customer)
customer_viz.data_sample(customer)

Notre Dataset est composé de 99441 Clients et 5 attributs

,name,type,sample,nb_uniques,%_uniques,%_nulls
0,customer_id,object,"['06b8999e2fba1a1fbc88172c00ba8bc7', '18955e83...",99441,100.00,0.0
1,customer_unique_id,object,"['861eff4711a542e4b93843c6dd7febb0', '290c77bc...",96096,96.64,0.0
2,customer_zip_code_prefix,int64,"[14409, 9790, 1151, 8775, 13056]",14994,15.08,0.0
3,customer_city,object,"['franca', 'sao bernardo do campo', 'sao paulo...",4119,4.14,0.0
4,customer_state,object,"['SP', 'SP', 'SP', 'SP', 'SP']",27,0.03,0.0

In [25]:
product_viz = Viz(product)
product_viz.data_sample(product)

Notre Dataset est composé de 32951 Clients et 9 attributs

,name,type,sample,nb_uniques,%_uniques,%_nulls
0,product_id,object,"['1e9e8ef04dbcff4541ed26657ea517e5', '3aa07113...",32951,100.00,0.00
1,product_category_name,object,"['perfumaria', 'artes', 'esporte_lazer', 'bebe...",74,0.22,1.85
2,product_name_lenght,float64,"[40.0, 44.0, 46.0, 27.0, 37.0]",67,0.20,1.85
3,product_description_lenght,float64,"[287.0, 276.0, 250.0, 261.0, 402.0]",2961,8.98,1.85
4,product_photos_qty,float64,"[1.0, 1.0, 1.0, 1.0, 4.0]",20,0.06,1.85
5,product_weight_g,float64,"[225.0, 1000.0, 154.0, 371.0, 625.0]",2205,6.69,0.01
6,product_length_cm,float64,"[16.0, 30.0, 18.0, 26.0, 20.0]",100,0.30,0.01
7,product_height_cm,float64,"[10.0, 18.0, 9.0, 4.0, 17.0]",103,0.31,0.01
8,product_width_cm,float64,"[14.0, 20.0, 15.0, 26.0, 13.0]",96,0.29,0.01

In [26]:
order_viz = Viz(order)
order_viz.data_sample(order)

Notre Dataset est composé de 99441 Clients et 8 attributs

,name,type,sample,nb_uniques,%_uniques,%_nulls
0,order_id,object,"['e481f51cbdc54678b7cc49136f2d6af7', '53cdb2fc...",99441,100.00,0.00
1,customer_id,object,"['9ef432eb6251297304e76186b10a928d', 'b0830fb4...",99441,100.00,0.00
2,order_status,object,"['delivered', 'delivered', 'delivered', 'deliv...",8,0.01,0.00
3,order_purchase_timestamp,object,"['2017-10-02 10:56:33', '2018-07-24 20:41:37',...",98875,99.43,0.00
4,order_approved_at,object,"['2017-10-02 11:07:15', '2018-07-26 03:24:27',...",90734,91.24,0.16
5,order_delivered_carrier_date,object,"['2017-10-04 19:55:00', '2018-07-26 14:31:00',...",81019,81.47,1.79
6,order_delivered_customer_date,object,"['2017-10-10 21:25:13', '2018-08-07 15:27:45',...",95665,96.20,2.98
7,order_estimated_delivery_date,object,"['2017-10-18 00:00:00', '2018-08-13 00:00:00',...",459,0.46,0.00

In [27]:
order_item_viz = Viz(order_item)
order_item_viz.data_sample(order_item)

Notre Dataset est composé de 112650 Clients et 7 attributs

,name,type,sample,nb_uniques,%_uniques,%_nulls
0,order_id,object,"['00010242fe8c5a6d1ba2dd792cb16214', '00018f77...",98666,87.59,0.0
1,order_item_id,int64,"[1, 1, 1, 1, 1]",21,0.02,0.0
2,product_id,object,"['4244733e06e7ecb4970a6e2683c13e61', 'e5f2d52b...",32951,29.25,0.0
3,seller_id,object,"['48436dade18ac8b2bce089ec2a041202', 'dd7ddc04...",3095,2.75,0.0
4,shipping_limit_date,object,"['2017-09-19 09:45:35', '2017-05-03 11:05:13',...",93318,82.84,0.0
5,price,float64,"[58.9, 239.9, 199.0, 12.99, 199.9]",5968,5.30,0.0
6,freight_value,float64,"[13.29, 19.93, 17.87, 12.79, 18.14]",6999,6.21,0.0

In [28]:
order_review_viz = Viz(order_review)
order_review_viz.data_sample(order_review)

Notre Dataset est composé de 100000 Clients et 7 attributs

,name,type,sample,nb_uniques,%_uniques,%_nulls
0,review_id,object,"['7bc2406110b926393aa56f80a40eba40', '80e641a1...",99173,99.17,0.00
1,order_id,object,"['73fc7af87114b39712e6da79b0a377eb', 'a548910a...",99441,99.44,0.00
2,review_score,int64,"[4, 5, 5, 5, 5]",5,0.00,0.00
3,review_comment_title,object,"[nan, nan, nan, nan, nan]",4601,4.60,88.28
4,review_comment_message,object,"[nan, nan, nan, 'Recebi bem antes do prazo est...",36922,36.92,58.25
5,review_creation_date,object,"['2018-01-18 00:00:00', '2018-03-10 00:00:00',...",637,0.64,0.00
6,review_answer_timestamp,object,"['2018-01-18 21:46:59', '2018-03-11 03:05:13',...",99010,99.01,0.00

In [29]:
payment_viz = Viz(payment)
payment_viz.data_sample(payment)

Notre Dataset est composé de 103886 Clients et 5 attributs

,name,type,sample,nb_uniques,%_uniques,%_nulls
0,order_id,object,"['b81ef226f3fe1789b1e8b2acac839d17', 'a9810da8...",99440,95.72,0.0
1,payment_sequential,int64,"[1, 1, 1, 1, 1]",29,0.03,0.0
2,payment_type,object,"['credit_card', 'credit_card', 'credit_card', ...",5,0.00,0.0
3,payment_installments,int64,"[8, 1, 1, 8, 2]",24,0.02,0.0
4,payment_value,object,"['99,33', '24,39', '65,71', '107,78', '128,45']",29077,27.99,0.0

In [30]:
sellers_viz = Viz(sellers)
sellers_viz.data_sample(sellers)

Notre Dataset est composé de 3095 Clients et 4 attributs

,name,type,sample,nb_uniques,%_uniques,%_nulls
0,seller_id,object,"['3442f8959a84dea7ee197c632cb2df15', 'd1b65fc7...",3095,100.00,0.0
1,seller_zip_code_prefix,int64,"[13023, 13844, 20031, 4195, 12914]",2246,72.57,0.0
2,seller_city,object,"['campinas', 'mogi guacu', 'rio de janeiro', '...",611,19.74,0.0
3,seller_state,object,"['SP', 'SP', 'RJ', 'SP', 'SP']",23,0.74,0.0