In [18]:
import  pandas as pd

In [19]:
data_paths = {
    "reviews_path": "./../DATA/IN/olist_order_reviews_dataset.csv",
    "orders_path": "./../DATA/IN/olist_orders_dataset.csv",
    "items_path": "./../DATA/IN/olist_order_items_dataset.csv",
    "sellers_path": "./../DATA/IN/olist_sellers_dataset.csv",
    "payments_path": "./../DATA/IN/olist_order_payments_dataset.csv"
}
reviews = pd.read_csv(data_paths['reviews_path'])
orders = pd.read_csv(data_paths['orders_path'], parse_dates=['order_delivered_carrier_date'])
items = pd.read_csv(data_paths['items_path'])
sellers = pd.read_csv(data_paths['sellers_path'])
payments = pd.read_csv(data_paths['payments_path'], sep=';')

In [20]:
merged_data = reviews.merge(orders, on="order_id", how="inner") \
    .merge(items, on="order_id", how="inner") \
    .merge(sellers, on="seller_id", how="inner") \
    .merge(payments, on="order_id", how="inner")
merged_data.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,customer_id,order_status,order_purchase_timestamp,...,shipping_limit_date,price,freight_value,seller_zip_code_prefix,seller_city,seller_state,payment_sequential,payment_type,payment_installments,payment_value
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59,41dcb106f807e993532d446263290104,delivered,2018-01-11 15:30:49,...,2018-01-18 15:47:59,185.0,13.63,14600,sao joaquim da barra,SP,1,credit_card,8,"397,26"
1,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59,41dcb106f807e993532d446263290104,delivered,2018-01-11 15:30:49,...,2018-01-18 15:47:59,185.0,13.63,14600,sao joaquim da barra,SP,1,credit_card,8,"397,26"
2,5fdb2ed7aa0f1b1c9642175b302e38af,b0bc656fed47584c160f8cff2d7b8bbd,5,NaN,NaN,2018-03-17 00:00:00,2018-03-17 17:36:27,f4ad1c9eb0bed4469cbe0ff8f47bf634,delivered,2018-02-27 13:56:12,...,2018-03-06 14:10:22,135.0,18.20,14600,sao joaquim da barra,SP,1,credit_card,1,"306,4"
3,5fdb2ed7aa0f1b1c9642175b302e38af,b0bc656fed47584c160f8cff2d7b8bbd,5,NaN,NaN,2018-03-17 00:00:00,2018-03-17 17:36:27,f4ad1c9eb0bed4469cbe0ff8f47bf634,delivered,2018-02-27 13:56:12,...,2018-03-06 14:10:22,135.0,18.20,14600,sao joaquim da barra,SP,1,credit_card,1,"306,4"
4,a085ad47c649d76e19a93be48169ef41,52b39f7d5f670b983cae0ae2607bb1bc,5,NaN,NaN,2017-08-02 00:00:00,2017-08-05 03:19:43,a03a696301e1946f58f689501c6dc81f,delivered,2017-07-26 21:15:04,...,2017-08-02 21:25:25,39.9,12.69,14600,sao joaquim da barra,SP,1,credit_card,5,"52,59"

In [21]:
merged_data.loc[(merged_data['seller_id'] == '0015a82c2db000af6aaaf3ae2ecb0532')]

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,customer_id,order_status,order_purchase_timestamp,...,shipping_limit_date,price,freight_value,seller_zip_code_prefix,seller_city,seller_state,payment_sequential,payment_type,payment_installments,payment_value
114671,799c3e3362ac0d09cfa1b39b51647490,9dc8d1a6f16f1b89874c29c9d8d30447,5,NaN,NaN,2017-10-25 00:00:00,2017-10-25 23:15:15,d9442164acf4b03109425633efaa0cfc,delivered,2017-10-12 13:33:22,...,2017-10-18 14:49:22,895.0,21.02,9080,santo andre,SP,1,credit_card,4,"916,02"
114672,2abb25fde5aafe9bc85d031dffb2f4ac,7f39ba4c9052be115350065d07583cac,1,NaN,"Produto preto, reembalado na caixa de um branc...",2017-10-28 00:00:00,2017-10-28 14:32:42,d7fc82cbeafea77bd0a8fbbf6296e387,delivered,2017-10-18 08:16:34,...,2017-10-24 23:56:20,895.0,21.02,9080,santo andre,SP,1,credit_card,8,"916,02"
114673,f6923b4d17e0f4e87b38cb26c758d3c6,d455a8cb295653b55abda06d434ab492,5,NaN,NaN,2017-10-08 00:00:00,2017-10-11 21:42:45,944b72539d7e1f7f7fc6e46639ef1fe3,delivered,2017-09-26 22:17:05,...,2017-10-12 22:24:16,895.0,21.02,9080,santo andre,SP,1,credit_card,10,"916,02"

In [14]:
merged_data = merged_data.groupby('seller_id').agg({
            'order_id': 'count',
            'payment_value': 'sum',
            'review_score': 'mean',
            'order_delivered_carrier_date': 'max'
        }).rename(columns={'order_id': 'total_orders',
                           'payment_value': 'total_payment_value',
                           'review_score': 'average_review_score',
                           'order_delivered_carrier_date': 'latest_delivery_date'}).reset_index()

In [17]:
merged_data.loc[(merged_data['seller_id'] == '0015a82c2db000af6aaaf3ae2ecb0532')]

,seller_id,total_orders,total_payment_value,average_review_score,latest_delivery_date
0,0015a82c2db000af6aaaf3ae2ecb0532,3,"916,02916,02916,02",3.666667,2017-10-20 14:29:01